//Modulos
@use './modulos/navbar';
@use './modulos/main';
@use './modulos/invitaciones';


//Variables
$color-main: #212529;
$color-second: #3e4144;

body{
    background-color: #3e4144;
    //background: url('../images/Background/background-prueba.jpg');
    //background: url('../images/Background/pexels-eberhard-grossgasteiger-2088170.jpg');
    //background: url('../images/Background/pexels-fwstudio-129731.jpg');
    //background: url('../images/Background/pexels-mitchell-luo-3694711.jpg');
}
