//Modulos
@use './modulos/navbar';
@use './modulos/main';
@use './modulos/invitaciones';
@use './modulos/confirmaciones';


//Variables
$color-main: #212529;
$color-second: #3e4144;
$color-font: #3e4144;
$color-carousel: #ffff;
$font-main: 'Tangerine', cursive;
$font-second: 'Abel', sans-serif;

body{
    background: url('../multimedia/fondos/Invitandoo.svg');
    background-size: cover;

    .loading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        text-align: center;

        margin-top: 60px;
        padding: 150px 20px 290px;

        background: url('../multimedia/fondos/background.jpg');
        background-size: cover;

        color: #3e4144;

        p{
            font-family: $font-second;
            font-size: 28px;

            margin: 0px;
        }

        .spin{
            width: 120px;
            height: 120px;
            border-width: 7px;
        }
    }
 }