//Modulos
@use './modulos/navbar';
@use './modulos/main';
@use './modulos/invitaciones';
@use './modulos/confirmaciones';


//Variables
$color-main: #212529;
$color-second: #3e4144;

body{
    background: url('../multimedia/fondos/fondo-main.jpg');
    background-size: cover;
 }

.fondo-karla{
    background: url('../multimedia/fondos/fondo-karla.png');
    background-size: contain; 
}

.fondo-jimena{
    background: url('../multimedia/fondos/fondo-jimena.jpg');
    background-size: contain; 
}