.navbar {
  margin-bottom: 30px;
  padding: 0;
  background-color: #170000;
  color: #fafbfd;
}
.navbar .nav-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .nav-cont .navbar-collapse {
  padding: 5px;
}
.navbar .nav-cont .nav-home {
  font-family: "Dancing Script", Times;
  font-size: 32px;
  margin: 0px 10px;
  padding: 0px;
  color: #fafbfd;
}
.navbar .nav-cont .nav-section {
  height: 35px;
  margin: 0px 2px;
  font-family: "Cormorant Garamond", Georgia;
  font-size: 18px;
  color: #fafbfd;
}
.navbar .nav-cont .icon {
  margin: 2px;
}

.menu-eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px 0px;
}
.menu-eventos h3 {
  color: black;
  font-family: "smooch", cursive;
  font-size: 40px;
}
.menu-eventos .tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}
.menu-eventos .tarjetas .link {
  text-decoration: none;
}
.menu-eventos .tarjetas .link .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: aliceblue;
  color: black;
  max-width: 300px;
  margin: 10px;
  margin-bottom: 30px;
}
.menu-eventos .tarjetas .link .card .card-img {
  height: 280px;
  max-height: 280px;
  object-fit: cover;
}
.menu-eventos .tarjetas .link .card .card-body {
  padding: 0px;
}
.menu-eventos .tarjetas .link .card .card-body .card-title {
  border-bottom: 5px;
  border-color: black;
  font-family: "smooch", cursive;
  font-size: 30px;
  padding: 14px;
  margin-top: 10px;
}
.menu-eventos .tarjetas .link .card .card-body .card-text {
  padding: 0px 14px 14px 14px;
}
.menu-eventos .tarjetas .link .card:hover {
  transform: scale(1.03);
}

@media (max-width: 321px) {
  .menu-eventos {
    width: 100%;
  }
  .menu-eventos h3 {
    font-size: 30px;
  }
}
.inv-carousel {
  margin-top: 30px;
}
.inv-carousel .inv-img {
  height: 690px;
  object-fit: cover;
}
.inv-carousel .inv-frase {
  color: #fafbfd;
  font-family: "Dancing Script", Times;
  font-size: 35px;
}

.container-nov {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 20px;
  padding: 40px;
  color: #212529;
}
.container-nov .img-nov {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-nov .img-nov img {
  width: 240px;
  border-radius: 50%;
}
.container-nov .nombre-nov {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}
.container-nov .nombre-nov p {
  font-size: 45px;
  font-family: "Dancing Script", Times;
}

.container-inv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 20px;
  color: #212529;
}
.container-inv .date-container {
  margin: 50px 0px;
  padding: 50px 20px;
  width: 55%;
  height: 550px;
  font-family: "Cormorant Garamond", Georgia;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.container-inv .date-container .inv-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.container-inv .date-container .inv-date-container .inv-date {
  font-family: "Dancing Script", Times;
  font-size: 50px;
  font-weight: 600;
}
.container-inv .date-container .place-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-inv .date-container .time-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  width: 75%;
}
.container-inv .date-container .time-container .time {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container-inv .date-container .time-container .time .regresivo {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 40px;
  height: 100%;
  width: 100%;
}
.container-inv .date-container .time-container .time .times {
  font-size: 15px;
}
.container-inv .date-container .img-flor-tr {
  width: 220px;
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(-1);
  transform: rotate(180deg);
}
.container-inv .date-container .img-flor-tl {
  width: 210px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(-1);
}
.container-inv .date-container .img-flor-br {
  width: 210px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}
.container-inv .date-container .img-flor-bl {
  width: 210px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container-inv .qr-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 540px;
  padding: 40px 20px;
  color: #212529;
}
.container-inv .qr-container .img-qr {
  width: 180px;
  height: 180px;
  background-color: white;
  padding: 25px 15px 15px;
  border-radius: 10px;
}
.container-inv .qr-container .nombre-inv {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dancing Script", Times;
}
.container-inv .qr-container .nombre-inv h3 {
  font-weight: 600;
}
.container-inv .qr-container .num-mesa {
  font-family: "Cormorant Garamond", Georgia;
  font-size: 20px;
}
.container-inv .qr-container .num-mesa p {
  font-weight: 600;
}
.container-inv .qr-container .anuncio {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cormorant Garamond", Georgia;
}

.container-itinerario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 20px;
  padding: 30px;
  color: #212529;
}
.container-itinerario h3 {
  font-family: "Dancing Script", Times;
  font-size: 35px;
  font-weight: 600;
}
.container-itinerario .cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Cormorant Garamond", Georgia;
}
.container-itinerario .cont .itinerario {
  width: 20%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.container-itinerario .cont .itinerario img {
  width: 50px;
}
.container-itinerario .cont .itinerario div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-dresscode_mesa {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
  margin: 20px;
}
.container-dresscode_mesa .dresscode {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 45%;
  color: #212529;
  text-align: center;
}
.container-dresscode_mesa .dresscode h3 {
  font-family: "Dancing Script", Times;
  font-size: 35px;
  font-weight: 600;
}
.container-dresscode_mesa .dresscode p {
  font-family: georgia;
  font-size: 20px;
}
.container-dresscode_mesa .dresscode .img-dresscode img {
  width: 300px;
  margin: 10px;
}
.container-dresscode_mesa .mesa {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 45%;
  color: #212529;
}
.container-dresscode_mesa .mesa h3 {
  font-family: "Dancing Script", Times;
  font-size: 35px;
  font-weight: 600;
}
.container-dresscode_mesa .mesa .codigoRegalo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container-dresscode_mesa .mesa .codigoRegalo .imgLogo {
  width: 450px;
}
.container-dresscode_mesa .mesa .codigoRegalo p {
  font-family: georgia;
  font-size: 20px;
}

.container-maps_conf {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: #212529;
  margin: 50px 20px;
  padding: 40px;
}
.container-maps_conf .caja-maps {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-maps_conf .caja-maps .img-googlemaps {
  width: 300px;
}
.container-maps_conf .confirmacion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 350px;
}
.container-maps_conf .confirmacion p {
  font-family: "Cormorant Garamond", Georgia;
  font-size: 24px;
}
.container-maps_conf .confirmacion .botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  font-family: "Cormorant Garamond", Georgia;
}
.container-maps_conf .confirmacion .botones .si {
  background-color: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 5px;
  width: 75px;
  height: 40px;
  color: black;
}
.container-maps_conf .confirmacion .botones .no {
  background-color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 5px;
  width: 75px;
  height: 40px;
  color: black;
}
.container-maps_conf .maps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  width: 30%;
  height: 350px;
}
.container-maps_conf .maps p {
  font-family: "Cormorant Garamond", Georgia;
  font-size: 24px;
}
.container-maps_conf .maps .caja-maps {
  width: 350px;
  height: 250px;
}

@media (max-width: 551px) {
  .inv-carousel .inv-img {
    height: 730px;
  }
  .inv-carousel div .inv-frase {
    font-size: 25px;
  }
  .container-nov {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 800px;
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .container-nov .nombre-nov {
    width: 100%;
  }
  .container-nov .nombre-nov p {
    font-size: 40px;
  }
  .container-nov .img-nov {
    width: 230px;
    height: 230px;
  }
  .container-nov .img-nov img {
    width: 235px;
  }
  .container-inv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
  }
  .container-inv .date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 40px 0px;
    padding: 50px 0px;
  }
  .container-inv .date-container .inv-date-container .inv-date {
    text-align: center;
    font-size: 27px;
  }
  .container-inv .date-container .place-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-inv .date-container .place-container p {
    text-align: center;
    font-size: 17px;
  }
  .container-inv .date-container .time-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    width: 100%;
  }
  .container-inv .date-container .time-container .time {
    width: 70px;
    height: 98px;
  }
  .container-inv .date-container .time-container .time .times {
    font-size: 12px;
  }
  .container-inv .date-container .img-flor {
    width: 135px;
  }
  .container-inv .qr-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 40px 0px;
    padding: 15px;
  }
  .container-inv .qr-container .num-mesa {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 600;
  }
  .container-inv .qr-container .anuncio {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }
  .container-itinerario {
    margin: 20px 10px;
  }
  .container-itinerario .cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  .container-itinerario .cont .itinerario {
    width: 430px;
    margin: 10px 0px;
  }
  .container-dresscode_mesa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 10px;
    padding: 20px 10px;
  }
  .container-dresscode_mesa .dresscode {
    width: 430px;
    text-align: center;
  }
  .container-dresscode_mesa .dresscode h3 {
    font-size: 30px;
  }
  .container-dresscode_mesa .dresscode .img-dresscode img {
    width: 150px;
  }
  .container-dresscode_mesa .mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    width: 430px;
    color: #212529;
  }
  .container-dresscode_mesa .mesa h3 {
    font-family: "Dancing Script", Times;
    font-size: 35px;
    font-weight: 600;
  }
  .container-dresscode_mesa .mesa .codigoRegalo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-dresscode_mesa .mesa .codigoRegalo .imgLogo {
    width: 200px;
  }
  .container-dresscode_mesa .mesa .codigoRegalo p {
    font-family: georgia;
    font-size: 20px;
  }
  .container-maps_conf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 5px;
    padding: 15px 5px;
  }
  .container-maps_conf .maps {
    width: 430px;
  }
  .container-maps_conf .maps .caja-maps {
    width: 260px;
  }
  .container-maps_conf .confirmacion {
    width: 430px;
  }
  .container-maps_conf .confirmacion p {
    text-align: center;
  }
  .container-maps_conf .confirmacion .botones {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
}
@media (max-width: 426px) {
  .inv-carousel .inv-img {
    height: 730px;
  }
  .inv-carousel div .inv-frase {
    font-size: 25px;
  }
  .container-nov {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 800px;
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .container-nov .nombre-nov {
    width: 100%;
  }
  .container-nov .nombre-nov p {
    font-size: 40px;
  }
  .container-nov .img-nov {
    width: 230px;
    height: 230px;
  }
  .container-nov .img-nov img {
    width: 225px;
  }
  .container-inv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
  }
  .container-inv .date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 40px 0px;
    padding: 50px 0px;
  }
  .container-inv .date-container .inv-date-container .inv-date {
    text-align: center;
    font-size: 27px;
  }
  .container-inv .date-container .place-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-inv .date-container .place-container p {
    text-align: center;
    font-size: 17px;
  }
  .container-inv .date-container .time-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    width: 100%;
  }
  .container-inv .date-container .time-container .time {
    width: 70px;
    height: 98px;
  }
  .container-inv .date-container .time-container .time .times {
    font-size: 12px;
  }
  .container-inv .date-container .img-flor {
    width: 135px;
  }
  .container-inv .qr-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 40px 0px;
    padding: 15px;
  }
  .container-inv .qr-container .num-mesa {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 600;
  }
  .container-inv .qr-container .anuncio {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }
  .container-itinerario {
    margin: 20px 10px;
  }
  .container-itinerario .cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  .container-itinerario .cont .itinerario {
    width: 330px;
    margin: 10px 0px;
  }
  .container-dresscode_mesa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 10px;
    padding: 20px 10px;
  }
  .container-dresscode_mesa .dresscode {
    width: 330px;
    text-align: center;
  }
  .container-dresscode_mesa .dresscode h3 {
    font-size: 30px;
  }
  .container-dresscode_mesa .dresscode .img-dresscode img {
    width: 150px;
  }
  .container-dresscode_mesa .mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    width: 330px;
    color: #212529;
  }
  .container-dresscode_mesa .mesa h3 {
    font-family: "Dancing Script", Times;
    font-size: 35px;
    font-weight: 600;
  }
  .container-dresscode_mesa .mesa .codigoRegalo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-dresscode_mesa .mesa .codigoRegalo .imgLogo {
    width: 200px;
  }
  .container-dresscode_mesa .mesa .codigoRegalo p {
    font-family: georgia;
    font-size: 20px;
  }
  .container-maps_conf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 5px;
    padding: 15px 5px;
  }
  .container-maps_conf .maps {
    width: 330px;
  }
  .container-maps_conf .maps .caja-maps {
    width: 260px;
  }
  .container-maps_conf .confirmacion {
    width: 330px;
  }
  .container-maps_conf .confirmacion p {
    text-align: center;
  }
  .container-maps_conf .confirmacion .botones {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
}
@media (max-width: 376px) {
  .inv-carousel .inv-img {
    height: 730px;
  }
  .inv-carousel div .inv-frase {
    font-size: 25px;
  }
  .container-nov {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 800px;
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .container-nov .nombre-nov {
    width: 100%;
  }
  .container-nov .nombre-nov p {
    font-size: 40px;
  }
  .container-nov .img-nov {
    width: 230px;
    height: 230px;
  }
  .container-nov .img-nov img {
    width: 225px;
  }
  .container-inv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
  }
  .container-inv .date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 40px 0px;
    padding: 50px 0px;
  }
  .container-inv .date-container .inv-date-container .inv-date {
    text-align: center;
    font-size: 27px;
  }
  .container-inv .date-container .place-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-inv .date-container .place-container p {
    text-align: center;
    font-size: 17px;
  }
  .container-inv .date-container .time-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    width: 100%;
  }
  .container-inv .date-container .time-container .time {
    width: 70px;
    height: 98px;
  }
  .container-inv .date-container .time-container .time .times {
    font-size: 12px;
  }
  .container-inv .date-container .img-flor {
    width: 135px;
  }
  .container-inv .qr-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 40px 0px;
    padding: 15px;
  }
  .container-inv .qr-container .num-mesa {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 600;
  }
  .container-inv .qr-container .anuncio {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }
  .container-itinerario {
    margin: 20px 10px;
  }
  .container-itinerario .cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  .container-itinerario .cont .itinerario {
    width: 280px;
    margin: 10px 0px;
  }
  .container-dresscode_mesa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 10px;
    padding: 20px 10px;
  }
  .container-dresscode_mesa .dresscode {
    width: 300px;
    text-align: center;
  }
  .container-dresscode_mesa .dresscode h3 {
    font-size: 30px;
  }
  .container-dresscode_mesa .dresscode .img-dresscode img {
    width: 150px;
  }
  .container-dresscode_mesa .mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    color: #212529;
  }
  .container-dresscode_mesa .mesa h3 {
    font-family: "Dancing Script", Times;
    font-size: 35px;
    font-weight: 600;
  }
  .container-dresscode_mesa .mesa .codigoRegalo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-dresscode_mesa .mesa .codigoRegalo .imgLogo {
    width: 200px;
  }
  .container-dresscode_mesa .mesa .codigoRegalo p {
    font-family: georgia;
    font-size: 20px;
  }
  .container-maps_conf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 10px;
    padding: 15px 5px;
  }
  .container-maps_conf .maps {
    width: 300px;
  }
  .container-maps_conf .maps .caja-maps {
    width: 260px;
  }
  .container-maps_conf .confirmacion {
    width: 300px;
  }
  .container-maps_conf .confirmacion p {
    text-align: center;
  }
  .container-maps_conf .confirmacion .botones {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
}
@media (max-width: 321px) {
  .inv-carousel .inv-img {
    height: 730px;
  }
  .inv-carousel div .inv-frase {
    font-size: 25px;
  }
  .container-nov {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 800px;
    padding: 15px 20px;
    margin: 15px 10px;
  }
  .container-nov .nombre-nov {
    width: 100%;
  }
  .container-nov .nombre-nov p {
    font-size: 40px;
  }
  .container-nov .img-nov {
    width: 230px;
    height: 230px;
  }
  .container-nov .img-nov img {
    width: 225px;
  }
  .container-inv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
  }
  .container-inv .date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 40px 0px;
    padding: 50px 0px;
  }
  .container-inv .date-container .inv-date-container .inv-date {
    text-align: center;
    font-size: 27px;
  }
  .container-inv .date-container .place-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-inv .date-container .place-container p {
    text-align: center;
    font-size: 17px;
  }
  .container-inv .date-container .time-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    width: 100%;
  }
  .container-inv .date-container .time-container .time {
    width: 70px;
    height: 98px;
  }
  .container-inv .date-container .time-container .time .times {
    font-size: 12px;
  }
  .container-inv .date-container .img-flor {
    width: 135px;
  }
  .container-inv .qr-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 40px 0px;
    padding: 15px;
  }
  .container-inv .qr-container .num-mesa {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 600;
  }
  .container-inv .qr-container .anuncio {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }
  .container-itinerario {
    margin: 20px 10px;
  }
  .container-itinerario .cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  .container-itinerario .cont .itinerario {
    width: 280px;
    margin: 10px 0px;
  }
  .container-dresscode_mesa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 10px;
    padding: 20px 10px;
  }
  .container-dresscode_mesa .dresscode {
    width: 280px;
    text-align: center;
  }
  .container-dresscode_mesa .dresscode h3 {
    font-size: 30px;
  }
  .container-dresscode_mesa .dresscode .img-dresscode img {
    width: 150px;
  }
  .container-dresscode_mesa .mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    width: 280px;
    color: #212529;
  }
  .container-dresscode_mesa .mesa h3 {
    font-family: "Dancing Script", Times;
    font-size: 35px;
    font-weight: 600;
  }
  .container-dresscode_mesa .mesa .codigoRegalo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-dresscode_mesa .mesa .codigoRegalo .imgLogo {
    width: 200px;
  }
  .container-dresscode_mesa .mesa .codigoRegalo p {
    font-family: georgia;
    font-size: 20px;
  }
  .container-maps_conf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 5px;
    padding: 15px 5px;
  }
  .container-maps_conf .maps {
    width: 280px;
  }
  .container-maps_conf .maps .caja-maps {
    width: 260px;
  }
  .container-maps_conf .confirmacion {
    width: 280px;
  }
  .container-maps_conf .confirmacion p {
    text-align: center;
  }
  .container-maps_conf .confirmacion .botones {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
}
body {
  background: url("../images/Background/fondo-main.jpg");
}

/*# sourceMappingURL=styles.css.map */
