//Modulos
@use './modulos/navbar';
@use './modulos/main';
@use './modulos/invitaciones';
@use './modulos/confirmaciones';


//Variables
$color-main: #212529;
$color-second: #3e4144;

body{
    //background-color: #3e4144;
    background: url('../images/Background/fondo-jimena.jpg');
    //background: url('../images/Background/fondo-second.jpg');
    //background: url('../images/Background/fondo-celeste.jpg');
    //background: url('../images/Background/fondo-azul.jpg');    
    //background: url('../images/Background/5ta-opcion-2.jpg');
    //background: url('../images/Background/fondo-azul.jpg');
}
