//Modulos
@use './modulos/navbar';
@use './modulos/home';
@use './modulos/invitacionesModelo01';
@use './modulos/invitacionesModelo02';
@use './modulos/invitacionesModelo03';
@use './modulos/inspiracion';
@use './modulos/gestion';

//Variables
$color-main: #F6F2E9;
$color-second: #977A48;
$color-font: #3D3D3D;

$font-main: "DM Serif Display", serif;
$font-second: "DM Sans", sans-serif;

body{
    position: relative;
    z-index: 100;
    
    background-color: #f6f2e9;

    scroll-behavior: smooth;

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background-color: #006061;

        padding: 25px;
        gap: 30px;

        bottom: 0;

        .contenedor{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;

            width: 100%;

            .negocio{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                align-content: flex-start;
    
                color: $color-main;
    
                .logo{
                    width: 80px;
                }
    
                .logotipo{
                    font-family: $font-main;
                    font-size: 42px;
    
                    margin: 0;
                }
    
                .eslogan{
                    font-family: $font-second;
                    font-size: 20px;
                }
            }
    
            .indice{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
    
                .seccion{
                    font-family: $font-second;
                    font-size: 18px;
                    color: $color-main;
    
                    margin: 0;
                }
            }
    
            .contacto{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .email{
                    margin-bottom: 15px;
                    
                    .texto{
                        width: 250px;
                        height: 35px;
                        padding: 10px;

                        background-color: #F5F2E91A;
                        border: 1px solid #F5F2E91A;
                        color: $color-main;
                        border-radius: 10px;

                        font-family: $font-second;
                        font-size: 16px;
                    }
                }
    
                .redes{
    
                    .icono{
                        width: 25px;
                        margin-right: 12px;
                    }
                }
            }
        }


        .copi{
            text-align: left;

            font-family: $font-second;
            font-size: 10px;
            font-weight: 300;

            color: $color-main;
        }
    }

    .loading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;
        width: 95vw;

        text-align: center;

        background-color: $color-main;
        color: $color-font;

        p{
            font-family: $font-second;
            font-size: 28px;

            margin: 20px;
        }

        .gif{
            width: 230px;
        }
    }

    .reproductor{
        .cancion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            width: 100vw;
            height: 100vh;
    
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
    
            background: rgba(0, 0, 0, .5);
    
            .contenedor{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                background-color: aliceblue;
    
                max-width: 400px;
                min-width: 300px;
                height: 220px;
                margin: 25px;
                padding: 20px;
    
                border-radius: 12px;
    
                position: relative;
    
                .cerrar{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
    
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    z-index: 90;
    
                    width: 30px;
                    height: 30px;
    
                    border: none;
                    border-radius: 5px;
    
                    background: none;
    
                    cursor: pointer;
                    transition: .3 ease all;
    
                    .icono{
                        width: 100%;
                    }
                }
    
                .cerrar:hover{
                    background: rgba(0, 0, 0, .1);
                }
    
                .contenido{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
    
                    font-family: $font-second;

                    width: 100%;
    
                    p{
                        font-size: 25px;
                    }

                    .controles{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        align-items: center;

                        width: 100%;

                        .progreso {
                            width: 70%;
                          
                            input[type="range"] {
                              width: 100%;
                              -webkit-appearance: none;
                              appearance: none;
                              background: #aaaaaa;
                              border-radius: 5px;
                              height: 3px; /* Añadir altura a la barra */
                          
                              &::-webkit-slider-runnable-track {
                                width: 100%;
                                height: 3px;
                                background: #aaaaaa;
                                border-radius: 5px;
                              }
                          
                              &::-moz-range-track {
                                width: 100%;
                                height: 3px;
                                background: #000000;
                                border-radius: 5px;
                              }
                          
                              &::-ms-track {
                                width: 100%;
                                height: 3px;
                                background: #000000;
                                border-radius: 5px;
                                border: none; /* Ocultar bordes */
                                color: transparent; /* Ocultar thumb en IE */
                              }
                          
                              &::-ms-fill-lower {
                                background: #000000;
                                border-radius: 5px;
                              }
                          
                              &::-ms-fill-upper {
                                background: #000000;
                                border-radius: 5px;
                              }
                          
                              &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                text-align: center;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background: #000000;
                                cursor: pointer;
                                margin-top: -6px; /* Alinear el thumb verticalmente */
                              }
                          
                              &::-moz-range-thumb {
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background: #aeaeae;
                                cursor: pointer;
                              }
                          
                              &::-ms-thumb {
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background: #ffffff;
                                cursor: pointer;
                              }
                            }
                          }
                          

                        .tiempo-control{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;

                            width: 100%;

                            .play-pause{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
    
                                border-style: none;
    
                                background-color: transparent;
    
                                width: 35px;
                                height: 35px;
                                padding: 5px;
                                .icono{
                                    width: 20px;
                                }
                            }
                        }

                    }
                }
            }
        }
    
        .puerta{
            position: fixed;
            bottom: 20px;
            left: 10px;
            z-index: 90;
        
            width: 50px;
            height: 50px;
        
            .abrir{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
        
                border: none;
                background-color: aliceblue;
                border-radius: 10px;
        
                width: 100%;
                height: 100%;
        
                .icono{
                    width: 25px;
                }
            }
        }
    
        .cerrado{
            display: none;
        }
    }

    .desplazar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: fixed;
        z-index: 90;
        bottom: 10vh;
        left: 50%;

        transform: translateX(-50%);

        width: 200px;
        height: 75px;

        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(5px);

        border-radius: 10px;

        color: white;

        p{
            font-family: $font-second;
            font-size: 17px;

            margin-bottom: 5PX;
        }


        .icono{
            width: 16px;
            animation: bounce 2s infinite;

            margin-top: 3px;
        }
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-10px);
        }
        60% {
            transform: translateY(-5px);
        }
    }

    .modeloDos {
        background-size: contain;
    
        .fondo{
            background-size: cover;
            background-position: center top;

            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;

            width: 100%;
            height: 100vh;
        }
         
        .portada {
                background-size: cover;
                background-position: center top;    
        }
            
        .imagen {
            background-size: cover;
            background-position: center top; 
        }
    }

    .invitados{

        .fondo{
            background-image: url('../multimedia/herramientas/invitados.jpg');

            background-size: cover;
            background-position: center top;

            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;

            width: 100vw;
            height: 100vh;
        }
    }
}


@media (max-width: 480px) {
    body{
        .footer{
            padding: 0;
            gap: 20px;

            .contenedor{
                flex-direction: column;
    
                padding: 33px 36px;
    
                gap: 20px;
    
                .negocio{
                    .logo{
                        width: 50px;
                    }
                    .logotipo{
                        font-size: 24px;
                    }
                    .eslogan{
                        font-size: 12px;
                    }
                }
    
                .indice{
                    .seccion{
                        font-size: 14px;
                    }
                }
    
                .contacto{
                    align-items: flex-start;
                    margin-top: 10px;

                    .icono{
                        width: 20px;
                    }
                }
            }
        }
    }
}
    