//Modulos
@use './modulos/navbar';
@use './modulos/main';
@use './modulos/invitacionesModelo01';
@use './modulos/invitacionesModelo02';
@use './modulos/confirmaciones';
@use './modulos/miEvento';


//Variables
$color-main: #212529;
$color-second: #3e4144;
$color-font: #3e4144;
$color-carousel: #ffff;
$font-main: 'Tangerine', cursive;
$font-second: 'Abel', sans-serif;

body{
    background: url('../multimedia/fondos/Invitandoo.svg');
    background-size: cover;

    .loading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;

        text-align: center;

        margin-top: 40px;
        padding: 150px 20px 290px;

        background: url('../multimedia/fondos/background.jpg');
        background-size: cover;

        color: #3e4144;

        p{
            font-family: $font-second;
            font-size: 28px;

            margin: 0px;
        }

        .spin{
            width: 120px;
            height: 120px;
            border-width: 7px;
        }
    }

    .modeloDos {
        .container-reproductor{
            display: flex;
            flex-direction: row;
            justify-content: center;
        
            margin: 50px 20px;
            padding: 30px;
        
            height: 220px;
        
            .reproductor{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        
                .title{
                    font-size: 30px;
                    font-family: $font-second;
                    text-align: center;
            
                    color: $color-font;
                }
        
                audio{
                    width: 280px;
                }
        
        
            }
        
        }
        
        .alerta-reproductor{
            flex-direction: row;
        
            padding: 30px;
        
            height: 220px;
            
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
              
            .alert-box {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        
            .reproductor{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
        
                height: 250px;
        
                .title{
                    font-size: 30px;
                    font-family: $font-second;
                    text-align: center;
            
                    color: $color-font;
                }
        
                audio{
                    width: 280px;
                }
        
                .boton-cerrar{
                    margin-top: 10px;
                    padding: 5px;
        
                    color: #fff;
                    background-color: #3e4144;
                    border-color: #3e4144;
                    border-radius: 10px;
                    border-style: solid;
                }
            }
        
        }
        
        .minimized{
            width: 50px; 
            height: 50px; 
            box-shadow: none;
        }
        
        .minimize-button {
            position: fixed;
            bottom: 10px;
            left: 10px;
        
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 8px;
        
            font-family: $font-second;
          }

        .fondo{
            background-size: cover;
            background-position: center top;

            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;

            width: 100%;
            height: 100vh;
        }
        
        
        .portada {
                background: url('../multimedia/Boda - Jaqui y Fredi/img - 01.jpg');
                background-size: cover;
                background-position: center top;    
        }
            
        .fondo1 {
            height: 100vh;
            background: url('../multimedia/Boda - Jaqui y Fredi/img - 02.jpg');
            background-size: cover;
            background-position: center top;
        }
            
        .imagen {
            height: 100vh;
            background: url('../multimedia/Boda - Jaqui y Fredi/img - 02.jpg');
            background-size: cover;
            background-position: center top; 
        }
    }
 }