//Variables
$color-main: #212529;
$color-second: #3e4144;
$color-font: white;


.menu-eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: 100px 0px;

    h3{
        color: black;
        font-family: 'smooch', cursive;
        font-size: 40px;
    }
    
    .tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
        margin: 30px;

        .link{
            text-decoration: none;
            
            .card{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                background-color: aliceblue;
                color: black;
        
                max-width: 300px;
                margin: 10px;
                margin-bottom: 30px;
            
                .card-img{
                    height: 280px;
                    max-height: 280px;
                    object-fit: cover;
                }
            
                .card-body{
                    padding: 0px;
            
                    .card-title{
                        // background-color: blue;
                        border-bottom: 5px;
                        border-color: black;

                        font-family: 'smooch', cursive;
                        font-size: 30px;
            
                        padding: 14px;
                        margin-top: 10px;
                    }
            
                    .card-text{
                        padding: 0px 14px 14px 14px;
                    }
                }
            }
        
            .card:hover{
            transform: scale(1.03);
            
            }
        }
        
    }
}

@media (max-width:551px){
    
}

@media (max-width:426px){
    
}

@media (max-width:376px){
    
}

@media (max-width:321px){

    .menu-eventos{
        width: 100%;

        h3{
            font-size: 30px;
        }
    }
}