//Variables
$color-main: rgb(249, 220, 201);
$color-second: rgb(250, 228, 213);

.navbar{
    margin-bottom: 30px;
    padding: 0;

    background-color: $color-second;
    color: black;

    .nav-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;

        .navbar-collapse{
            padding: 5px;
        }
    }

    .nav-home{
        font-family: 'Smooch', cursive;
        font-size: 32px;
        margin: 0px 10px;
        padding: 0px;
    }

    .nav-section{
        height: 35px;
        margin: 0px 2px;
    }

    .icon{
        margin: 2px;
    }
}