//Variables
$color-main: #212529;
$color-second: #3e4144;

.navbar{
    margin-bottom: 30px;
    padding: 0;

    background-color: seashell;
    color: black;

    .nav-cont{

       // width: 100%;

        color: black;
    }

    .nav-home{
        font-family: 'Smooch', cursive;
        font-size: 32px;
        margin: 0px 10px;
        padding: 0px;
    }

    .nav-section{
        height: 50px;
        margin: 0px 2px;
        padding-top: 12px;
    }

    .icon{
        margin: 2px;
    }
}