//Variables
$color-main: #212529;
$color-second: #3e4144;
$color-font: #3e4144;
$color-carousel: #ffff;
$font-main: 'Tangerine', cursive;
$font-second: 'Abel', sans-serif;
$font-family-main: 'Dancing Script', Times;
$font-family-second: 'Cormorant Garamond', Georgia;

.inv-carousel{
    margin-top: 30px;

    .inv-img{
        height: 710px;
        object-fit: cover;
    }

    .inv-frase{
        color: $color-carousel;
        font-family: $font-main;
        font-size: 38px;
        font-weight: 600;
    }

    .frase3{
        color: #fff;
    }
}

.container-portada{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    margin: 50px 20px;
    padding: 40px;

    color: $color-font;

    color: rgb(160, 124, 31);

    .nombre-evento{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        text-align: center;

        .te-invito{
            font-family: $font-main;
            font-weight: 600;
            font-size: 45px;
        }

        .mis{
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4{
                margin: -10px 0px;

                font-family: $font-main;
                font-weight: 600;
                font-size: 40px;
            }

            h3{
                font-family: $font-main;
                font-size: 45px;
                font-weight: 600;
                padding: 0px;
                margin: 0px;
            }

            .anios{
                margin-top: -20px;
            }
        }
    }

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;

        .img-portada{
            border-radius: 50%;
            border-width: 50px;
            border-style: solid;
            
            width: 255px;
            height: 255px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;
            
            img{
                width: 255px;
                border-radius: 50%;
            }

            .img-superpuesta {
                position: absolute;
                width: 320px; /* Ajusta el ancho según sea necesario */
                height: 320px; /* Ajusta la altura según sea necesario */
              }
        }
        
        .nombre-portada{
            display: flex;
            flex-direction: row;
            justify-content: center;

            text-align: center;
    
            width: 50%;
    
            p{
                font-size: 45px;
                font-family: $font-main;
                font-weight: 600;
            }
        }
    }
    
}

.container-inv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    margin: 50px 20px;
    color: $color-font;

    .date-container{
        margin: 50px 0px;
        padding: 50px 20px;
        width: 65%;
        height: 550px;
    
        font-family: $font-second;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    
        position: relative;
    
        .inv-date-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
    
    
            .inv-date{
                font-family: $font-main;
                font-size: 70px;
                font-weight: 600;
            }
        }

        .place-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-family: $font-second;
                font-size: 20px;
            }
        }
    
        .time-container{
            display: grid;
            grid-template-columns: auto auto auto auto;
    
            margin-top: 20px;
            width: 75%;
    
            .time{
                width: 100px;
                height: 100px;
    
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .regresivo{
                    font-family: 'Times New Roman', Times, serif;
                    text-align: center;
                    font-size: 40px;

                    height: 100%;
                    width: 100%;
                }
    
                .times{
                    font-size: 15px;
                }
            }
        }
    
        .img-flor-tr{
            width: 190px;
            position: absolute;
            top: 0;
            right: 0;
            transform: scaleX(-1);
            transform: rotate(180deg);
        }
    
        .img-flor-tl{
            width: 190px;
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleY(-1);
        }
    
        .img-flor-br{
            width: 190px;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: scaleX(-1);
        }
    
        .img-flor-bl{
            width: 190px;
            position: absolute;
            bottom: 0;
            left: 0;
            
        }
    }

    .qr-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        width: 25%;
        height: 540px;
        padding: 40px 20px;

        color: $color-font;

        .img-qr{
            width: 180px;
            height: 180px;

            background-color: white;
            padding: 25px 15px 15px;

            border-radius: 10px;
        }

        .nombre-inv{
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: $font-main;
            
            h3{
                font-weight: 600;
            }
        }

        .num-mesa{
            font-family: $font-second;
            font-size: 20px;

            p{
                font-weight: 600;
            }
        }

        .anuncio{
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: $font-second;
        }
    }
}

.container-reproductor{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 50px 20px;
    padding: 30px;

    height: 220px;

    .reproductor{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-size: 30px;
            font-family: $font-second;
            text-align: center;
    
            color: $color-font;
        }

        audio{
            width: 280px;
        }


    }

}

.alerta-reproductor{
    flex-direction: row;

    padding: 30px;

    height: 220px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
      
    .alert-box {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .reproductor{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 250px;

        .title{
            font-size: 30px;
            font-family: $font-second;
            text-align: center;
    
            color: $color-font;
        }

        audio{
            width: 280px;
        }

        .boton-cerrar{
            margin-top: 10px;
            padding: 5px;

            color: #fff;
            background-color: #3e4144;
            border-color: #3e4144;
            border-radius: 10px;
            border-style: solid;
        }
    }

}

.minimized{
    width: 50px; 
    height: 50px; 
    box-shadow: none;
}

.minimize-button {
    position: fixed;
    bottom: 10px;
    left: 10px;

    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 8px;

    font-family: $font-second;
  }
  
.container-itinerario{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    margin: 50px 20px;

    padding: 30px;

    color: $color-font;

    h3{
        font-family: $font-main;
        font-size: 35px;
        font-weight: 600;
    }

    .cont{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;

        font-family: $font-second;

        transition: transform 0.5s, visibility 0s 0.5s;
    
        .itinerario{
            width: 20%;
            height: 350px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;

            text-align: center;

            img{
                width: 50px;
            }

            p{
                font-size: 22px;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    font-size: 23px;
                    font-weight: 600;
                }
    
            }


        }

        .direccion{
            display: none; 
            transform: rotateY(-180deg);

            text-align: center;

            h3{
                font-family: $font-main;
                font-size: 35px;
                font-weight: 600;
            }

            p{
                font-family: $font-second;
                font-size: 20px;
                font-weight: 500;
            }
          }

          .hidden {
            display: none; 
          }
          
          .visible {
            display: block; 
          }

          .explicacion-button {
            border-radius: 10px;
            border: 1px solid #fff;

            padding: 8px;

            font-family: $font-second;
            font-size: 16px;
            
            background-color: #fff;
            color: #333;

            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
          }
          
          .explicacion-button:hover {
            background-color: #333;
            color: #fff;
            border-color: #333;
          }
    }

    .flip {
        transform: rotateY(180deg);
    }

    .cont.flip{
        .direccion {
            display: block; 
          }
    }
}

.container-padres{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 30px;
    margin: 50px 20px;

    text-align: center;

    .contenido{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .title{
            font-family: $font-main;
            font-size: 45px;
            font-weight: 700;
        }

        .padres{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            padding: 15px;

            text-align: center;
            font-family: $font-second;
            font-size: 25px;
        }
    }

}

.container-padrinos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    margin: 50px 20px;

    padding: 30px;


    .contenido{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        width: 100%;

        .title{
            font-family: $font-main;
            font-size: 40px;
            font-weight: 600;
        }

        div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .padrinoDe{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;

                padding: 10px;
                margin: 15px;

                height: 30%;
                width: 90%;

                .de{
                    font-family: $font-main;
                    font-size: 35px;
                    font-weight: 600;
                }

                .padrino{
                    font-family: $font-second;
                    font-size: 25px;
                }

            }
        }
    }
}

.container-dresscode_mesa{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    text-align: center;

    padding: 30px;
    margin: 20px;

    .dresscode{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        
        padding: 20px;
        width: 45%;
    
        color: $color-font;
        text-align: center;
    
        h3{
            font-family: $font-main;
            font-size: 35px;
            font-weight: 600;
        }
        
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            width: 100%;

            div{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .titulo{
                    font-family: $font-main;
                    font-size: 40px;
                    font-weight: 600;
                }

                p{
                    font-family: $font-second;
                    font-size: 30px; 
                    font-weight: 600;   
                }
            
            }
        }
       
        .img-dresscode{
    
            img{
                width: 300px;
                margin: 10px;
            }
        }
    }

    .mesa{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        padding: 20px;
        width: 45%;
    
        color: $color-font;

        transition: transform 0.5s, visibility 0s 0.5s;

        .mesaDeRegalos{
            h3{
                font-family: $font-main;
                font-size: 35px;
                font-weight: 600;
            }
    
            .codigoRegalo{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
                .imgLogo{
                    width: 450px;
                }
    
                p{
                    font-family: georgia;
                    font-size: 20px;
                }
            }
        }


        .explicacion {
            display: none; 
            transform: rotateY(-180deg);

            text-align: center;

            h3{
                font-family: $font-main;
                font-size: 35px;
                font-weight: 600;
            }

            p{
                font-family: $font-second;
                font-size: 20px;
                font-weight: 500;
            }
          }

          .hidden {
            display: none; 
          }
          
          .visible {
            display: block; 
          }

          .explicacion-button {
            border-radius: 10px;
            border: 1px solid #fff;

            padding: 8px;

            font-family: $font-second;
            font-size: 16px;
            
            background-color: #fff;
            color: #333;

            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
          }
          
          .explicacion-button:hover {
            background-color: #333;
            color: #fff;
            border-color: #333;
          }
    }

    .flip {
        transform: rotateY(180deg);
    }

    .mesa.flip{
        .explicacion {
            display: block; 
          }
    }
}

.container-maps_conf{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    color: $color-font;

    margin: 50px 20px;
    padding: 40px;


    .confirmacion{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        width: 30%;
        height: 300px;

        .title{
            font-family: $font-main;
            font-size: 40px;
            font-weight: 600;
        }

        .botones{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;

            width: 70%;

            font-family: $font-second;

            .si{
                background-color: lightgreen;
                border: 1px solid lightgreen;
                border-radius: 5px;

                width: 75px;
                height: 40px;

                color: black;
            }

            .no{
                background-color: lightcoral;
                border: 1px solid lightcoral;
                border-radius: 5px;

                width: 75px;
                height: 40px;

                color: black;
            }
        }
    }

    .maps{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        padding: 15px;
        width: 30%;
        height: 350px;

        p{
            font-family: $font-main;
            font-size: 40px;
            font-weight: 600;
        }

        

        .caja-maps{
            width: 350px;
            height: 250px;

            display: flex;
            flex-direction: row;
            justify-content: center;
    
            
            .img-googlemaps{
                    width: 300px;    
            }
        }
    }
}


//Adaptacion responsiva en diferentes telefonos

@media (max-width:551px){
    .inv-carousel{
        .inv-img{
            height: 690px;
        }

        div{
            .inv-frase{
                font-size: 25px;
            }
        }  
    }

   .container-portada{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 700px;

        padding: 15px 20px;
        margin: 15px 10px;

        h3{
            font-family: $font-main;
            font-size: 45px;
        }
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            width: 100%;
    
            .nombre-portada{
                width: 100%;
                p{
                    font-size: 40px;
                }
            }
    
            .img-portada{
                width: 245px;
                height: 245px;
    
                img{
                    width: 250px;
                }
            }
        }
    }
    
    .container-inv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin: 20px 10px;

        .date-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            width: 97%;
            height: 600px;
            margin: 40px 0px;
            padding: 50px 0px;

            .inv-date-container{
                .inv-date{
                    text-align: center;
                    font-size: 42px;
                }
            }

            .place-container{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 21px;
                }
            }

            .time-container{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                justify-content: space-evenly;

                width: 100%;

                .time{
                    width: 70px;
                    height: 98px;

                    .times{
                        font-size: 12px;
                    }
                }
            }

            .img-flor{
                width: 120px;
            }
        }

        .qr-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            width: 90%;
            margin: 40px 0px;
            padding: 15px;

            .nombre-inv{
                h3{
                    font-size: 40px;
                }
            }
            .num-mesa{
                font-family: $font-second;
                font-size: 25px;
                font-weight: 600;
            }

            .anuncio{
                text-align: center;
                font-family: $font-second;
                font-size: 18px;
            }
        }
    }

    .container-reproductor{
        .reproductor{
            .title{
                font-size: 30px;
                font-family: $font-second;
                text-align: center;
            }
        }
    
    }

    .container-itinerario{
        margin: 20px 10px;

        .cont{
            display: flex;
            flex-direction: column;
            align-content: center;

            width: 100%;

            .itinerario{
                width: 430px;
                margin: 10px 0px;
            }
        }
    }

    .container-dresscode_mesa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        margin: 20px 10px;
        padding: 20px 10px;

        .dresscode{
            width: 430px;
            text-align: center;
            
            h3{
                font-size: 30px;
            }
    
            .img-dresscode{
                img{
                    width: 150px;
                }
            }
        }

        .mesa{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
    
            margin-top: 20px;
            padding: 20px;
            width: 430px;
        
            color: $color-font;
    
            h3{
                font-family: $font-main;
                font-size: 35px;
                font-weight: 600;
            }
    
            .mesaDeRegalos{
                .codigoRegalo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
        
                    .imgLogo{
                        width: 200px;
                    }
        
                    p{
                        font-family: georgia;
                        font-size: 20px;
                    }
                }
            }
        } 
    }
    
    .container-maps_conf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin: 20px 5px;
        padding: 15px 5px;

        .maps{
            width: 430px;

            .caja-maps{
                width: 260px;
            }
        }

        .confirmacion{
            width: 430px;

            p{
                text-align: center;
            }

            .botones{
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                height: 100px;
            }
        }
    }
}

@media (max-width:426px){
    .inv-carousel{
        .inv-img{
            height: 690px;
        }

        div{
            .inv-frase{
                font-size: 25px;
            }
        }  
    }

   .container-portada{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 700px;

        padding: 15px 20px;
        margin: 15px 10px;

        h3{
            font-family: $font-main;
            font-size: 45px;
        }
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            width: 100%;
    
            .nombre-portada{
                width: 100%;
                p{
                    font-size: 40px;
                }
            }
    
            .img-portada{
                width: 25px;
                height: 250px;
    
                img{
                    width: 250px;
                }
            }
        }
    }
    
    .container-inv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin: 20px 10px;

        .date-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            width: 97%;
            height: 600px;
            margin: 40px 0px;
            padding: 50px 0px;

            .inv-date-container{
                .inv-date{
                    text-align: center;
                    font-size: 42px;
                }
            }

            .place-container{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 21px;
                }
            }

            .time-container{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                justify-content: space-evenly;

                width: 100%;

                .time{
                    width: 70px;
                    height: 98px;

                    .times{
                        font-size: 12px;
                    }
                }
            }

            .img-flor{
                width: 120px;
            }
        }

        .qr-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            width: 90%;
            margin: 40px 0px;
            padding: 15px;

            .nombre-inv{
                h3{
                    font-size: 40px;
                }
            }

            .num-mesa{
                font-family: $font-second;
                font-size: 25px;
                font-weight: 600;
            }

            .anuncio{
                text-align: center;
                font-family: $font-second;
                font-size: 18px;
            }
        }
    }

    .container-reproductor{
        .reproductor{
            .title{
                font-size: 30px;
                font-family: $font-second;
                text-align: center;
            }
        }
    
    }

    .container-itinerario{
        margin: 20px 10px;

        .cont{
            display: flex;
            flex-direction: column;
            align-content: center;

            width: 100%;

            .itinerario{
                width: 330px;
                margin: 10px 0px;
            }
        }
    }

    .container-dresscode_mesa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        margin: 20px 10px;
        padding: 20px 10px;

        .dresscode{
            width: 330px;
            text-align: center;
            
            h3{
                font-size: 30px;
            }
    
            .img-dresscode{
                img{
                    width: 150px;
                }
            }
        }

        .mesa{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
    
            margin-top: 20px;
            padding: 20px;
            width: 330px;
        
            color: $color-font;
    
            h3{
                font-family: $font-main;
                font-size: 35px;
                font-weight: 600;
            }
    
            .mesaDeRegalos{
                .codigoRegalo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
        
                    .imgLogo{
                        width: 200px;
                    }
        
                    p{
                        font-family: georgia;
                        font-size: 20px;
                    }
                }
            }
        } 
    }
    
    .container-maps_conf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin: 20px 5px;
        padding: 15px 5px;

        .maps{
            width: 330px;

            .caja-maps{
                width: 260px;

            }
        }

        .confirmacion{
            width: 330px;

            p{
                text-align: center;
            }

            .botones{
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                height: 100px;
            }
        }
    }
}

@media (max-width:376px){
    .inv-carousel{
        .inv-img{
            height: 690px;
        }

        div{
            .inv-frase{
                font-size: 25px;
            }
        }  
    }

   .container-portada{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 700px;

        padding: 15px 20px;
        margin: 15px 10px;

        h3{
            font-family: $font-main;
            font-size: 45px;
        }
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            width: 100%;
    
            .nombre-portada{
                width: 100%;
                p{
                    font-size: 40px;
                }
            }
    
            .img-portada{
                width: 230px;
                height: 230px;
    
                img{
                    width: 235px;
                }
            }
        }
    }
    
    .container-inv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin: 20px 10px;

        .date-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            width: 97%;
            height: 600px;
            margin: 40px 0px;
            padding: 50px 0px;

            .inv-date-container{
                .inv-date{
                    text-align: center;
                    font-size: 42px;
                }
            }

            .place-container{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 20px;
                }
            }

            .time-container{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                justify-content: space-evenly;

                width: 100%;

                .time{
                    width: 70px;
                    height: 98px;

                    .times{
                        font-size: 12px;
                    }
                }
            }

            .img-flor{
                width: 120px;
            }
        }

        .qr-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            width: 90%;
            margin: 40px 0px;
            padding: 15px;

            .nombre-inv{
                h3{
                    font-size: 40px;
                }
            }

            .num-mesa{
                font-family: $font-second;
                font-size: 25px;
                font-weight: 600;
            }

            .anuncio{
                text-align: center;
                font-family: $font-second;
                font-size: 18px;
            }
        }
    }

    .container-reproductor{
        .reproductor{
            .title{
                font-size: 30px;
                font-family: $font-second;
                text-align: center;
            }
        }
    
    }

    .container-itinerario{
        margin: 20px 10px;

        .cont{
            display: flex;
            flex-direction: column;
            align-content: center;

            width: 100%;

            .itinerario{
                width: 280px;
                margin: 10px 0px;
            }
        }
    }

    .container-dresscode_mesa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        margin: 20px 10px;
        padding: 20px 10px;

        .dresscode{
            width: 300px;
            text-align: center;
            
            h3{
                font-size: 30px;
            }
    
            .img-dresscode{
                img{
                    width: 150px;
                }
            }
        }

        .mesa{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
    
            margin-top: 20px;
            padding: 20px;
            width: 300px;
        
            color: $color-font;
    
            h3{
                font-family: $font-main;
                font-size: 35px;
                font-weight: 600;
            }
    
            .mesaDeRegalos{
                .codigoRegalo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
        
                    .imgLogo{
                        width: 200px;
                    }
        
                    p{
                        font-family: georgia;
                        font-size: 20px;
                    }
                }
            }
        } 
    }
    
    .container-maps_conf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin: 20px 10px;
        padding: 15px 5px;

        .maps{
            width: 300px;

            .caja-maps{
                width: 260px;

                img{
                    width: 250px;
                }
            }
        }

        .confirmacion{
            width: 300px;

            p{
                text-align: center;
            }

            .botones{
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                height: 100px;
            }
        }
    }
}

@media (max-width:321px){ 

    .inv-carousel{
        .inv-img{
            height: 690px;
        }

        div{
            .inv-frase{
                font-size: 25px;
            }
        }  
    }

   .container-portada{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 700px;

        padding: 15px 20px;
        margin: 15px 10px;

        h3{
            font-family: $font-main;
            font-size: 45px;
        }
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            width: 100%;
    
            .nombre-portada{
                width: 100%;
                p{
                    font-size: 40px;
                }
            }
    
            .img-portada{
                width: 230px;
                height: 230px;
    
                img{
                    width: 235px;
                }
            }
        }
    }

    .container-inv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin: 20px 10px;

        .date-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            width: 97%;
            height: 600px;
            margin: 40px 0px;
            padding: 50px 0px;

            .inv-date-container{
                .inv-date{
                    text-align: center;
                    font-size: 42px;
                }
            }

            .place-container{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 20px;
                }
            }

            .time-container{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                justify-content: space-evenly;

                width: 100%;

                .time{
                    width: 70px;
                    height: 98px;

                    .times{
                        font-size: 12px;
                    }
                }
            }

            .img-flor{
                width: 120px;
            }
        }

        .qr-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            width: 90%;
            margin: 40px 0px;
            padding: 15px;

            .nombre-inv{
                h3{
                    font-size: 40px;
                }
            }

            .num-mesa{
                font-family: $font-second;
                font-size: 25px;
                font-weight: 600;
            }

            .anuncio{
                text-align: center;
                font-family: $font-second;
                font-size: 18px;
            }
        }
    }

    .container-reproductor{
        .reproductor{
            .title{
                font-size: 30px;
                font-family: $font-second;
                text-align: center;
            }
        }
    
    }

    .container-itinerario{
        margin: 20px 10px;

        .cont{
            display: flex;
            flex-direction: column;
            align-content: center;

            width: 100%;

            .itinerario{
                width: 280px;
                margin: 10px 0px;
            }
        }
    }

    .container-dresscode_mesa{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        margin: 20px 10px;
        padding: 20px 10px;

        .dresscode{
            width: 280px;
            text-align: center;
            
            h3{
                font-size: 30px;
            }
    
            .img-dresscode{
                img{
                    width: 150px;
                }
            }
        }

        .mesa{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
    
            margin-top: 20px;
            padding: 20px;
            width: 280px;
        
            color: $color-font;
    
            h3{
                font-family: $font-main;
                font-size: 35px;
                font-weight: 600;
            }
    
            .mesaDeRegalos{
                .codigoRegalo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
        
                    .imgLogo{
                        width: 200px;
                    }
        
                    p{
                        font-family: georgia;
                        font-size: 20px;
                    }
                }
            }
        } 
    }
    
    .container-maps_conf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin: 20px 5px;
        padding: 15px 5px;

        .maps{
            width: 280px;

            .caja-maps{
                width: 260px;

                img{
                    width: 250px;
                }
            }
        }

        .confirmacion{
            width: 280px;

            p{
                text-align: center;
            }

            .botones{
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                height: 100px;
            }
        }
    } 
}