//Variables
$color-main: #170000;
$font-color: #fafbfd;

$font-main: 'Tangerine', cursive;
$font-second: 'Cormorant Garamond', Georgia;

.navbar{
    margin-bottom: 30px;
    padding: 0;

    background-color: $color-main;
    color: $font-color;

    .nav-cont{
        display: flex;
        flex-direction: row;
        align-items: center;

        .navbar-collapse{
            padding: 5px;
        }

        .nav-home{
            font-family: $font-main;
            font-size: 40px;
            margin: 0px 10px;
            padding: 0px;
    
            color: $font-color;
        }
    
        .nav-section{
            height: 35px;
            margin: 0px 2px;

            font-family: $font-second;
            font-size: 18px;
            color: $font-color;
        }
    
        .icon{
            margin: 2px;
        }
    }

}