//Variables
$color-main: #212529;
$color-second: #3e4144;
$color-font: #3e4144;
$color-carousel: #ffff;
$font-main: 'Tangerine', cursive;
$Crimson: 'Crimson Text', serif;
$font-second: 'Abel', sans-serif;

.modelo3{
    position: relative;
    z-index: 100;
    
    margin-top: 70px;

    .portada{
        display: flex;
        flex-direction: row;
        justify-content: center;

        position: fixed;
        z-index: 10;

        height: 100vh;
        width: 100%;

        .img{  
            height: 100%;
            width: 100%;

            object-fit: cover;
        }

        .nombres{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            max-width: 500px;
            min-width: 350px;
            height: 100px;

            position: absolute;
            z-index: 20;

            top: 50px;

            text-align: center;

            font-family: $Crimson;
            font-size: 38px;
            font-weight: 800;
            
            color: rgb(20, 18, 6);

            .titulo{
                
                transition: .3s linear;
                color: transparent;
                //-webkit-text-stroke: 2px rgb(137, 103, 16);

                background-image: linear-gradient(
                    to left,
                    rgba(36, 29, 11, 0.6),
                    rgba(71, 60, 32, 0.8),
                    rgb(27, 21, 8),
                    rgb(6, 5, 2),
                    rgb(27, 21, 8),
                    rgba(71, 60, 32, 0.8),
                    rgba(36, 29, 11, 0.6)
                );

                background-size: 200%;
                background-clip: padding-box;
                -webkit-background-clip: text;

                animation: move 30s linear infinite;
            }

            @keyframes move {
                100%{
                    background-position: 2000px 0;
                }
            }

            .contenedor{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                font-family: $font-main;
                font-size: 60px;

                background: linear-gradient(
                    to right,
                    rgba(36, 29, 11, 0.6),
                    rgba(71, 60, 32, 0.8),
                    rgb(27, 21, 8),
                    rgb(6, 5, 2),
                    rgb(27, 21, 8),
                    rgba(71, 60, 32, 0.8),
                    rgba(36, 29, 11, 0.6)
                );
                background-clip: padding-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: anim 4s linear alternate infinite;
            }

            @keyframes anim {
                0%{
                    background-position: 0;
                }
        
                60%{
                    background-position: 180px;
                }
        
                100%{
                    background-position: 440px;
                }
            }
        }
    }
    
    .caja{
        position: absolute;
        z-index: 20;

        margin-top: 700px;
        width: 100%;

        .mensaje{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            height: 50vh;
            width: 100%;
            
            
            background-color: white;
    
            text-align: center;
    
            p{
                margin: 5px 30px;
                font-family: $font-second;
                font-size: 25px;
            }
    
            .florero{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
    
                width: 90%;
                .flor{
                    width: 120px;
                }
        
                .tl{
                    transform: rotateX(180deg);
                }
        
                .tr{
                    transform: rotateY(180deg) rotateX(180deg);
                    
                }
        
                .br{
                    transform: rotateY(180deg);
                }
            }  
        }
    
        .invitacion{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            width: 100%;
            height: 70vh;
            padding: 20px;
    
            color: aliceblue;
            text-align: center;
    
            p{
                font-family: $font-second;
                font-size: 20px;
            }
    
            .fecha{
                font-family: $font-main;
                font-size: 60px;
                font-weight: 800;
            }
        }
    
        .padres{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
    
            position: relative;
    
            background-color: whitesmoke;
    
            height: 80vh;
            width: 100%;
    
            text-align: center;
    
            .titulo{
                font-family: $font-main;
                font-size: 50px;
                font-weight: 800;

                
    
                background: linear-gradient(
                    to right,
                    rgb(180, 159, 105),
                    rgb(211, 178, 95),
                    rgb(185, 155, 80),
                    rgb(137, 103, 16),
                    rgb(150, 127, 70),
                    rgb(211, 178, 95),
                    rgb(180, 159, 105)
                );
                background-clip: padding-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: anim 4s linear alternate infinite;
            }
    
            @keyframes anim {
                0%{
                    background-position: 0;
                }
        
                60%{
                    background-position: 180px;
                }
        
                100%{
                    background-position: 440px;
                }
            }
    
            .contenedor{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-family: $font-second;
                font-size: 25px;
    
                p{
                    font-weight: 800;
                }

                span{
                    img{
                        width: 25px;
                    }
                }
            }
    
            .colgante{
                position: absolute;
                top: 0;
                left: 0;
    
                width: 175px;
            }
    
            .pie{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 175px;
            }
    
            .transicion{
                width: 200px;
            }
        }
    
        .padrinos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
    
            width: 100%;
            height: 70vh;
    
            background-color: #fff; 
            
            .titulo{
                font-family: $Crimson;
                font-size: 40px;
                font-weight: 800;
    
                color: rgb(201, 147, 9);
    
                margin-top: 20px;
                margin-bottom: 0px;
            }
    
            .swiper {
                width: 340px;
                height: 50vh;
    
                .contenedor{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    align-content: center;
    
                    font-family: $font-second;
                    font-size: 22px;
    
                    margin-top: -70px;
    
                    .icono{
                        width: 100px;
                    }
    
                    .accion{
                        font-family: $font-main;
                        font-weight: 800;
                        font-size: 45px;
                    }
    
                    .padrino{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
    
            .swiper-button-next{
                color: rgb(201, 147, 9);
            }
    
            .swiper-button-prev{
                color: rgb(201, 147, 9);
            }
              
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
              }
              
                                
        }
    
        .pase{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;

            background-color: #191970;
    
            position: relative;
    
            width: 100%;
            height: 65vh;
    
            font-family: $font-second;
            font-size: 28px;
            text-align: center;
            color: aliceblue;
    
            .invitado{
                display: flex;
                flex-direction: column;

                width: 70vw;
    
                .titulo{
                    font-family: $font-main;
                    font-size: 52px;
                    font-weight: 800;
                }
            }
    
            .datos{
                font-size: 30px;
            }
    
            .cantidad{
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                margin-bottom: 25px;
    
                .titulo{
                    font-weight: 800;
                }
            }
    
            .flores{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                position: absolute;
                bottom: 0;
    
                width: 100%;
    
                .petalo{
                    width: 130px;
                }
    
                .rigth{
                    transform: rotatey(180deg);
                }
            }
        }
    
        .mensajedos{
            display: flex;
            flex-direction: column;
            justify-content: center;
    
           
    
            background-color: #DD969C;
    
            width: 100%;
            height: 30vh;
    
            color: #fff;
            text-align: center;
    
            p{
                font-family: $font-second;
                font-size: 28px;
            }
        }

        .galeria{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            width: 100%;
            height: 65vh;

            background-color: #FF0090;

            .titulo{
                color: #fff;
                font-family: $font-main;
                font-size: 55px;
                font-weight: 800;
            }

            .imagen{
                border: 4px solid #fff;
                width: 300px;
                height: 225px;

                object-fit: cover;
            }

            .swiper {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 50px;
              }

            .swiper-pagination-bullet-active{
                background-color: #fff;
            }
              
              .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 225px;
              }
              
              .swiper-slide img {
                display: block;
                width: 100%;
              }
              
        }

        .ubicacion{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            background-color: whitesmoke;

            width: 100%;

            text-align: center;

            padding: 20px;

            .encabezado{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .titulo{
                    font-family: $font-main;
                    font-size: 55px;
                    font-weight: 800;
    
                    margin-top: 35px;
    
                    color: rgb(201, 147, 9);
                }
    
                .adorno{
                    width: 250px;

                    margin-top: -45px;
                }
            }

            .lugar{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;

                height: 80vh;

                .establecimiento{
                    font-family: $font-second;
                    font-size: 35px;
                    font-weight: 800;

                }

                .foto{
                    width: 75vw;
                    object-fit: cover;

                    border-radius: 50%;
                    border: 4px solid rgb(201, 147, 9);
                }

                .direccion{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    font-family: $font-second;
                    font-size: 25px;

                    .nombre{
                        font-size: 27px;
                        font-weight: 800;
                    }
                }               
            }

            button{
                background-color: rgb(201, 147, 9);

                border: none;
                border-radius: 10px;

                width: 180px;
                height: 50px;
                padding: 5px;

                .icono{
                    width: 30px;
                    margin-right: 10px;
                }

                .link{
                    text-decoration: none;
                    color: whitesmoke;

                }
            }
        }

        .itinerario{
            
            height: 70vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
    
            width: 100%;
            height: 70vh;
    
            background-color: #fff; 
            
            .titulo{
                font-family: $Crimson;
                font-size: 40px;
                font-weight: 800;
    
                color: rgb(201, 147, 9);
    
                margin-top: 20px;
                margin-bottom: 0px;
            }
    
            .swiper {
                width: 340px;
                height: 50vh;
    
                .contenedor{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    align-content: center;
    
                    font-family: $font-second;
    
                    margin-top: -40px;
    
                    .icono{
                        width: 100px;
                    }
    
                    .accion{
                        font-family: $font-main;
                        font-weight: 800;
                        font-size: 45px;
                    }
    
                    .hora{
                        font-size: 28px;
                    }
                }
            }
    
            .swiper-button-next{
                color: rgb(201, 147, 9);
            }
    
            .swiper-button-prev{
                color: rgb(201, 147, 9);
            }
              
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
              }
              
        }

        .mesa{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;

            height: 100vh;
            width: 100%;

            text-align: center;

            background-color: #DD969C;

            .titulo{
                color: white;
                font-size: 50px;
                font-weight: 800;
                font-family: $font-main;

                margin-top: 30px;
            }

            .regalo{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                
                width: 90%;
                height: 510px;

                text-decoration: none;
                text-align: center;
                color: white;

                background-color: rgba(255, 255, 255, .1);
                box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
                border-radius: 10px;
                backdrop-filter: blur(5px);

                .icono{
                    width: 250px;
                    margin-bottom: 30px;
                }

                .codigo{
                    font-family: $font-second;
                    font-size: 28px;
                    font-weight: 800;
                }

                .anuncio{
                    font-family: $font-second;
                    font-size: 20px;

                    width: 280px;
                }
            }
        }

        .vestimenta{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;

            text-align: center;

            background-color: #191970;
            color: white;

            width: 100%;
            height: 95vh;

            .titulo{
                color: white;
                font-family: $font-main;
                font-size: 55px;
                font-weight: 800;

                margin-top: 20px;
            }

            .iconos{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .icono{
                    width: 170px;
                    padding: 10px;
                }
            }


            p{
                font-family: $font-second;
                font-size: 25px;
            }

            .aviso{
                font-size: 20px;
            }
        }

        .collage{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            text-align: center;

            width: 100%;
            height: 90vh;

            background-color: #FF0090;

            .titulo{
                color: white;
                font-family: $font-main;
                font-size: 55px;
                font-weight: 800;

                margin-top: 20px;
            }

            .contenedor{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                width: 100%;

                padding: 10px;

                .img{
                    width: 172.5px;
                    margin: 2px;

                    object-fit: cover;

                    border: 2px solid whitesmoke;
                }

                .uno{
                    width: 215px;
                }

                .dos{
                    width: 130px;
                }

                .tres{
                    width: 110px;
                }

                .cuatro{
                    width: 235px;
                }
            }
        }
    }
}