$color-main: #212529;
$color-second: #3e4144;
$color-font: #3e4144;
$color-carousel: #ffff;
$font-main: 'Tangerine', cursive;
$font-second: 'Abel', sans-serif;

.contenedor-miEvento{
    margin-top: 100px;

    .formularios{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .formulario{
            width: 500px;

            margin: 0 20px;            

            .titulo{
                font-size: 30px;
                font-family: $font-second;
                text-align: center;

                margin-bottom: 15px;
            }

            .dato{
                font-family: $font-second;

                margin-bottom: 15px;
            }
        }
    }
}

.contenedor-editarEvento{
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .formulario{        
        padding: 20px;

        font-family: $font-second;
        font-size: 19px;
        
        .titulo{
            text-align: center;
            font-size: 24px;
            font-weight: 600;

            margin-bottom: 30px;
        }

        .dato{
            margin-bottom: 10px;
            input{
                width: 320px;
            }
        }

        button{
            margin-top: 30px;
        }
    }

    .caja{
        margin: 10px 12px 50px;
    }

    .lista{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        font-family: $font-second;
        font-size: 19px;
        text-align: center;

        .titulo{
            font-weight: 600;
            font-size: 24px;
        }

        .invitado{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            padding: 10px 5px;

            border-bottom: 1px solid black;

            .nombre{
                width: 150px;
                margin: 0 5px;
            }

            .boton{
                margin: 0 10px;
                padding: 4px 8px;

                border: none;
                border-radius: 5px;

                .icono{
                    width: 21px;
                }
            } 
            
            .enlace{
                background-color: lightblue;
            }

            .copiar{
                background-color: lightblue;
            }

            .copiado{
                background-color: lightgreen;
            }

            .eliminar{
                background-color: lightcoral;
            }
        }
    }
}

  