//Variables
$color-main: #17000000;
$color-second: #3e4144;
$color-font: #3e4144;
$color-carousel: #ffff;
$font-main: 'Tangerine', cursive;
$font-second: 'Abel', sans-serif;

.contenedor-navbar{
    background-color: $color-main !important;

    .titulo-link{
        text-decoration: none;
        color: #F6F2E9;

        margin-top: 7px;

        .titulo{
            font-family: "DM Serif Display", serif;
            font-weight: 400;
            font-size: 35px;

            margin-left: 36px;
        }

    }

    .links{
        font-family: $font-second;
        color: $color-carousel;
    }
}
  