//Variables
$color-main: #F6F2E9;
$color-second: #977A48;
$color-font: #3D3D3D;

$font-main: "DM Serif Display", serif;
$font-second: "DM Sans", sans-serif;

.contenedor-navbar{
    background-color: rgba(0,0,0,0.0) !important;

    .titulo-link{
        text-decoration: none;
        color: #F6F2E9;

        margin-top: 7px;

        .titulo{
            font-family: "DM Serif Display", serif;
            font-weight: 400;
            font-size: 35px;

            margin-left: 36px;
        }

    }

    .links{
        font-family: $font-second;
        color: black;
    }
}

.navbar{
    display: flex;
    flex-direction: row;

    background-color: rgba(0,0,0,0.0);

    position: fixed;
    z-index: 110;

    height: 70px;
    padding: 10px;

    .titulo{
        font-family: $font-main;
        font-size: 35px;

        margin-left: 20px;

        cursor: pointer;
    }
}

.claro{
    color: #F6F2E9;
}

.oscuro{
    color: black;
}

.secundario{
    color: #977A48;
}
  